{
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": [
    "airbnb",
    // "airbnb/hooks"
  ],
  "rules": {
    "no-console": 0,
    "no-unused-vars": 1
  },
  // "plugins": ["html", "markdown"]
}
